<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/index.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="container">
      <div class="inner-container">
        <div class="input-details">
          <h3>Add Your Docs.</h3>
          <form action="/addCsv" enctype="multipart/form-data" method="post">
            <label for="name">Docs Name: </label>
            <input
              type="text"
              name="name"
              placeholder="name of your list..."
              required
            />
            <br />
            <label for="file">Docs File: </label>
            <input type="file" name="file" accept=".csv" required />
            <br />
            <button type="submit" class="btn">submit</button>
          </form>
        </div>

        <div class="search-bar">
          <form action="/search" method="get">
            <input
              type="search"
              id="searchbar"
              onkeyup=""
              placeholder="Enter your file name"
              required
            />
            <button type="submit" class="btn">search</button>
          </form>
        </div>
        <!-- <hr /> -->
        <div class="list-box">
          <h1>List</h1>
          <!-- <hr /> -->
          <div id="list-details">
            <ol>
              <% for(data of csv_files) {%>
              <li>
                <a href="<%=data.id%>" class="data"><%= data.name %></a>
              </li>
              <% } %>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/index.js"></script>
  </body>
</html>
